body{
    margin: 0;
    color: #F2F0D5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#F2F0D5;
    z-index: 10;
    position: relative;
    border: #1E1D26 1px solid;
    border-radius: 20px;
    margin: 20px;
    height: 30px;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #1E1D26;
    font-weight: 600;
    font-size: 10px;
    font-family: "Vend Sans", sans-serif;
}
header img {
    width: 80px;
}
.btnC{
    padding: 10px 20px;
    background-color: #BF9460;
    color: #1E1D26;
    text-decoration: none;
    border-radius: 5px;
}
.btnB{
    padding: 10px 20px;
    background-color: #593831;
    color: #F2F0D5;
    text-decoration: none;
    border-radius: 5px;
}
.btnA{
    padding: 10px 20px;
    background-color: #593831;
    color: #F2F0D5;
    text-decoration: none;
    border-radius: 5px;
}
a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
section.hero{
    background-image: url('assets/architecte-interieur/illustration-plan.jpg');
    background-size: cover;
    filter: brightness(90%);
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: -120px;
}
h1{
    font-size: 66px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    
    margin: 0 0 24px 0;
    transform: translateY(20px);
}
section.hero p{
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    transform: translateY(20px);
    margin-top: -12px;
}
.position-title{
    margin-left:-250px;
    margin-right: -250px;
}
.hero::before {
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3); 
}
.position-btn{
    position: absolute;
    bottom: 20px;
    margin-bottom: 40px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promesse {
    width: min(1100px, 92%);
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    align-items: center;
}
h2 {
   margin: -80px 0 16px 0;
    color: #1E1D26;
    font-size: 42px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

.promesse-content p {
    margin: 0;
    color: #3f3d52;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
}

.prom-image {
    
    width: 350px;
    height: 400px;
    justify-self: end;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: #1E1D26 8px 4px 8px;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  animation: show 12s infinite;
}
ul {
    padding: 0;
    margin: 0;

}
li {
    margin-bottom: 10px;
    color: #3f3d52;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
    max-width: 250px;
    margin-top: 20px;
}
.services {
    background-image: url(assets/architecte-interieur/projets/devanture-boutique.jpg);
    background-size: cover;
    height: 500px;
}
.services h2 {
    margin: 0;
    color: #ffffff;
    font-size: 42px;
    text-align: center;

}
.box-services h3 {
    color:#1E1D26;
    margin-top: -30px;
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.box-services p {
    color:#3f3d52;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
    font-weight: regular;
    margin-top: -12px;
    margin-bottom: -8px;
}
.BoxService-1 {
    background:#F2F0D5;
    border-radius:25px 0 0 25px;
    padding: 30px;
    margin-left: 20%;
    height: 50px;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
}
.BoxService-1 a{
    margin-left: 5px;
    margin-right: 275px;
}
.BoxService-2 {
    background:#F2F0D5;
    border-radius:0 25px 25px 0;
    padding: 30px;
    margin-right: 20%;
    height: 50px;
    justify-self:right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.BoxService-2 a{
    margin-left: 275px;
    margin-right: 5px;
}
.BoxService-3 {
    background:#F2F0D5;
    border-radius:25px 0 0 25px;
    padding: 30px;
    margin-left: 20%;
    height: 50px;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
}
.BoxService-3 a{
    margin-left: 5px;
    margin-right: 275px;
}
.realisations{
    margin: 80px auto;
    gap: 20px;
    padding: 0 20px ;
    justify-content: space-between;
    
}
.realisations .realdiv{
    display: flex;
    background-color: #F2F0D5;
    width: 550px;
    height: 250px;
    border-radius: 0 15px 0 15px;
    border: #BF9460 5px solid;
    gap: 20px;
    margin: 20px;
}
.realisations ul {
    
    
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-items: center;
   padding: 20px;
   
}
.realisations img { 
    padding: 10px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin-left: 250px;
}
.realisations li {
    
    display:block;
    align-items: center;
    margin-bottom: 20px;
    
}
.realisations .text-real {
    max-width: 500px;
    padding: 10px;
    margin-top: -240px;
    
}
.realisations .text-real h3 {
    color: #1E1D26;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-bottom: 10px;
}   
.realisations .text-real p {
    color: #3f3d52;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
    font-weight: regular;
}












 
 
 
