body{
    margin: 0;
    color: #F2F0D5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    z-index: 10;
    position: relative;
    border: #1E1D26 1px solid;
    border-radius: 20px;
    margin: 20px;
    height: 30px;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #1E1D26;
    font-weight: 600;
    font-size: 10px;
    font-family: "Vend Sans", sans-serif;
}
img[alt="Logo de l'entreprise"]{
    width: 80px;
    
}
.btnC{
    padding: 10px 20px;
    background-color: #BF9460;
    color: #1E1D26;
    text-decoration: none;
    border-radius: 5px;
}
.btnB{
    padding: 10px 20px;
    background-color: #593831;
    color: #F2F0D5;
    text-decoration: none;
    border-radius: 5px;
}
.btnA{
    padding: 10px 20px;
    background-color: #593831;
    color: #F2F0D5;
    text-decoration: none;
    border-radius: 5px;
}
a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
section.hero{
    background-image: url('/assets/architecte-interieur/illustration-plan.jpg');
    background-size: cover;
    filter: brightness(90%);
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: -120px;
}
h1{
    font-size: 66px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    
    margin: 0 0 24px 0;
    transform: translateY(20px);
}
h2{
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    transform: translateY(20px);
    margin-top: -12px;
}
.position-title{
    margin-left:-250px;
    margin-right: -250px;
}
.hero::before {
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3); /* assombrit seulement l'image */
}
.position-btn{
    position: absolute;
    bottom: 20px;
    margin-bottom: 40px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promesse {
    width: min(1100px, 92%);
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    align-items: center;
}

h3 {
   margin: -80px 0 16px 0;
    color: #1E1D26;
    font-size: 42px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 500;
}

.promesse-content p {
    margin: 0;
    color: #3f3d52;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
}

.prom-image {
    background-image: url('assets/architecte-interieur/projets/maison-contemporaine.jpg');
    background-size: cover;
    width: min(340px, 100%);
    height: 400px;
    justify-self: end;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: #1E1D26 8px 4px 8px;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  animation: show 12s infinite;
}
ul {
    padding: 0;
    margin: 0;

}
li {
    margin-bottom: 10px;
    color: #3f3d52;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Vend Sans", sans-serif;
    max-width: 250px;
    margin-top: 20px;
}